[project]
	description = NFS-Ganesha is an NFSv3,v4,v4.1 fileserver that runs in user mode on most UNIX/Linux systems
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/大水牛 (scenbuffalo)
[access "refs/for/refs/*"]
	read = group user/大水牛 (scenbuffalo)
	push = group user/大水牛 (scenbuffalo)
	label-Code-Review = -2..+2 group user/大水牛 (scenbuffalo)
	label-Verified = -1..+1 group user/大水牛 (scenbuffalo)
	rebase = group user/大水牛 (scenbuffalo)
	removeReviewer = group user/大水牛 (scenbuffalo)
	submit = group user/大水牛 (scenbuffalo)
[access "refs/heads/*"]
	read = group user/大水牛 (scenbuffalo)
	create = group user/大水牛 (scenbuffalo)
	push = +force group user/大水牛 (scenbuffalo)
	pushMerge = group user/大水牛 (scenbuffalo)
[access "refs/tags/*"]
	push = group user/大水牛 (scenbuffalo)
	push = +force group user/大水牛 (scenbuffalo)
